
body{

    overflow: hidden;
    background-color: darkgray;

}
.music-list {
    /* font-size: 60px; */
    
    font-size: 24px;
}
.first-div{
    margin-left: 10%;
    border-radius: 50px;
    height: 580px;
    padding: 6px 10px;
}
.music-list h5:hover{

    background-color: blue;
    
 
    
    }
.second-div{

    width: 500px;
    height: 600px;
    border-radius: 30px;
}
.audio-set{
    margin-left: 6%;
}